body {
	background-color:#F7F7F7;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family:"Apple LiGothic Medium","微軟正黑體","Microsoft JhengHei",Arial,Helvetica,sans-serif;
	font-size:0.875em;
}
#topline {
	border-top: 10px solid #FF6600;
}
#heade {
	background: url(../images/bg1.gif);
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 16px;
	padding-left: 40px;
	font-weight: bold;
}

.icon {
	font-size: 13px;
	background: url(../images/icon2.gif) no-repeat right;
}

.icon-over {
	background: url(../images/icon3.gif) repeat-x;
}

#menu {
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	height: 28px;
	padding-left: 10px;
	width: 180px;
	padding-top: 30px;
}
#route {
	background: #fff9e9;
	border-bottom: 1px solid #E1BB95;
	font-size: 13px;
	color: #666E73;
	text-align: right;
	padding-right: 30px;
	line-height: 25px;
}
#main {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
#footer {
	font-size: 13px;
	color: #003333;
	text-decoration: none;
	text-align: right;
	padding: 10px 30px 30px;
}

#main-id {  
	font-size: 15px;
	color: #213D46;
	border-bottom: 4px solid #B0B6B9;
	line-height: 25px;
	background: url(../images/icon4.gif) no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
}

.main-id{  
	font-size: 15px;
	color: #213D46;
}

#submain{
	  color: #003399;
}


.w12白 {	
	font-size:1.1em;	
	color: #FFFFFF;
	text-decoration: none;
}

.w12 {	
  font-size:1.1em;
	color: #203C45;
	text-decoration: none;	
}

.w12藍 {	
	color: #0033FF;
	font-size:1.3em;	
}

.w12紅 {
	font-size:0.875em;
	color: #FF0000;
}

#heade-td {
	font-size:0.875em;
	padding-right: 40px;
}

#heade-td a {	
  font-size:0.875em;
	color: #FF6600;	
}

#loginuser{
	font-size:0.875em;
	color: #ffffff;	
	line-height: 25px;
	padding-left: 15px;
}

#divpath {
	font-size: 13px;
	color: #FFFFFF;
	z-index: 200;
	text-align: right;
	padding-right: 38px;
	line-height: 25px;
}
a:link {
	color: #003399;
	text-decoration: none;
	
}
a:visited {
	color: #003399;
	text-decoration: none;
	
}
a:hover {
	color: #004FF2;
	text-decoration: none;
	
}
a:active {
	color: #003399;
	text-decoration: none;
	
}

.cbutton {
FONT: normal;
font-family: "Verdana";
font-size:13px;
color:#FFFFFF;
background-color:#555A80;
line-height:17px;
width:65px;
height:25px;

Padding-top:1px; 
Padding-bottom:2px;
Padding-left:7px;

Padding-left:1px \9;  /*ie9 or 8*/
Padding-top:1px  \9;

Padding-top:5px\0/;
Padding-left:7px\0/;   /*ie 8*/

border-width:1px;
border-top-color:#989CBA;
border-right-color:#363952;
border-left-color:#989CBA;
border-bottom-color: #000099 
}

.mbutton {
FONT: normal;
font-family: "Verdana";
font-size:13px;
color:#FFFFFF;
background-color:#555A80;
line-height:17px;
width:85px;
height:25px;

Padding-bottom:3px;
Padding-bottom:0px \9;
Padding-left:7px;
Padding-left:1px \9;  /*ie9 or 8*/
Padding-left:7px\0/;   /*ie 8*/

margin-bottom:3px;

border-width:1px;
border-top-color:#989CBA;
border-right-color:#363952;
border-left-color:#989CBA;
border-bottom-color: #000099 
}


.cfile{
 height:22px;
 BORDER-RIGHT:#999999 1px solid; 
 BORDER-TOP: #999999 1px solid; 
 BORDER-LEFT: #999999 1px solid;
 COLOR: #000000;
 BORDER-BOTTOM:#999999 1px solid;
 FONT-FAMILY: Arial;
 BACKGROUND-COLOR: #ffffff
 }
 
.qbutton {
FONT: normal;
font-family: "Verdana";
font-size:13px;
color:#FFFFFF;
background-color:#555A80;
line-height:17px;
width:35px;
Padding-top:2px;
Padding-bottom:0px;
Padding-left:4px;
border-width:1px;
border-top-color:#989CBA;
border-right-color:#363952;
border-left-color:#989CBA;
border-bottom-color: 000099 
} 

textarea {
	   border-style: solid;
	   border-width:1px;
	   border-color:#BFBFBF;
	   background-color:#EDEFEF;
	   font-size:0.875em;
}	 
	
input[type="text"] {
		 border-style: solid;
	   border-width:1px;
	   border-color:#BFBFBF;
	   background-color:#EDEFEF;
	   height:20px;
	   line-height:20px;	   
} 

input[type="password"] {
		 border-style: solid;
	   border-width:1px;
	   border-color:#BFBFBF;
	   background-color:#EDEFEF;
	   height:20px;
}

input[type="checkbox"] {
	   border-width:0.001em;
	   border-color:#BFBFBF;	   
	   /*height:14px;*/
	   /*width:24px;*/
	   vertical-align: bottom;	    
} 

input[type="file"] {
		 border-style: solid;
	   border-width:1px;
	   border-color:#BFBFBF;
	   background-color:#EDEFEF;
	   height:22px;
	   width:auto;
	   line-height:20px;	   
}


select {	
	border:1px solid #BFBFBF;
	background-color: #EDEFEF;
	color: #000;
	padding: 0px;
	margin-top: 0px;
	margin-right:3px;
	height:23px;
}

#table_fld tr{
	  background-color: #D2D6D7;
}

.must{
	 font-family: "Arial","Verdana";
	 color:red;	    
}

textarea {
    resize: none;
}

input.g_weight
{
   font-family:"Apple LiGothic Medium","微軟正黑體","Microsoft JhengHei",Verdana,Arial;
   font-size:0.9em;
   color:#ffffff;
   width:93px;
   height:25px;
   background-color:#4F6B4E;
   padding-left:1px;
}


input.g_gift
{
   font-family:"Apple LiGothic Medium","微軟正黑體","Microsoft JhengHei",Verdana,Arial;
   font-size:1.1em;
   color:#ffffff;
   line-height:17px;
   font-weight:700 \9;
   /*letter-spacing: 0.1em;*/
   width:63px;
   height:25px;
   background-color:#4F6B4E;   
   border-top-color:#C1D2C1;   
   border-left-color:#C1D2C1;
   border-right-color:#273627;
   border-bottom-color:#273627;     
   Padding-top:2px;
   Padding-bottom:0px;
   Padding-left:2px;
}

.wbutton {
FONT: normal;
font-family:Verdana,Arial;
font-size:0.9em;
font-size:0.9em \9;
color:#FFFFFF;
background-color:#099AC0;
line-height:15px;
width:55px;

Padding-top:2px;
Padding-top:5px \9;
Padding-left:4px;

border-width:1px;
background-color:#4F6B4E;   
border-top-color:#C1D2C1;   
border-left-color:#C1D2C1;
border-right-color:#273627;
border-bottom-color:#273627; 
}

.wbtn_2 {
FONT: normal;
font-family:Verdana,Arial;
font-size:0.9em;
font-size:0.9em \9;
color:#FFFFFF;
background-color:#099AC0;
line-height:15px;
width:33px;

Padding-top:1px;
Padding-top:5px \9;
Padding-left:4px;

border-width:1px;
background-color:#4F6B4E;   
border-top-color:#C1D2C1;   
border-left-color:#C1D2C1;
border-right-color:#273627;
border-bottom-color:#273627; 
}